* {
  font-family: "Geomanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background-color: #fcf5ef;
  color: #1f2937;
  letter-spacing: 0.025em;
  scroll-behavior: smooth;
}
::selection {
  background-color: #82a1f6;
  color: #fcf5ef;
}
